<div class="jumbotron text-center">
  <h1>ICFLIX</h1>
  <p class="lead">Bem-vido ao Icflix o melhor site para você assitir seus filmes e séries favoritos!</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Cadastrar</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Feito com o sistema de frameworks MEAN</h3>
      <p>O site se mantem atualizado 24h/dia!</p>
  </div>
  <div class="col-md-4">
    <h3>Atual</h3>
    <p>Esteja sempre em dia com suas séries</p>
  </div>
  <div class="col-md-4">
    <h3>Grátis</h3>
    <p>Aproveite seus filmes de forma gratuita!</p>
  </div>
</div>
