

img {
	display: inline-block;

	max-height: 200px;
	max-width: 200px;
	height: 200px;
	width: 200px;
	margin: 10px;
}

#titulo {
	text-align: center;
}

#desc {
	margin-top: 100px;
}

.cenas img{
	
}

#man{
	margin-top:10px;
}

#KK {
	margin-top:10px;
}

#rec {
	display: inline;
	max-height: 100px;
	max-width: 100px;
	padding:none;
}

