<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="container" *ngIf="!isLoading && !isEditing" >
	<div class="card">
		<h4 class="card-header">Ação e Aventura</h4>
		<div class="card-block">
		<div *ngFor="let filme of filmes" >
		  <div *ngIf="filme.categoria === 'Ação e Aventura'" class="col-md-4" ><img src="{{filme.thumbnail}}" (click)="enableEditing(filme)" style="cursor:pointer" class="img-thumbnail" width="300px" height="300px" /></div>
	    </div>
	    </div>
	    </div>
	    <div class="card">
	    <h4 class="card-header">Comédia</h4>
	    <div class="card-block">
	    <div *ngFor="let filme of filmes" >
		  <div *ngIf="filme.categoria === 'Comédia' " class="col-md-4" ><img src="{{filme.thumbnail}}" (click)="enableEditing(filme)" class="img-thumbnail" style="cursor:pointer" width="300px" height="300px" /></div>
	    </div>
	    </div>
	    </div>
	    <div class="card">
	    <h4 class="card-header">Suspense</h4>
	    <div class="card-block">
	    <div *ngFor="let filme of filmes" >
		  <div *ngIf="filme.categoria === 'Suspense' " class="col-md-4" ><a (click)="enableEditing(filme)" ><img src="{{filme.thumbnail}}"  class="img-thumbnail" style="cursor:pointer" width="300px" height="300px" /></a></div>
	    </div>
	    </div>
	    </div>
	
	</div>

	<div class="container" *ngIf="isEditing">
	  <div class="header">
	    <h2 id="titulo">{{filme.title}}</h2>
	  </div>
	    <div class="cenas">
	      <div class="col-md-4">
		    <img src="{{filme.cena1}}" class="img-thumbnail">
		    <img src="{{filme.cena2}}" class="img-thumbnail">
		    <img src="{{filme.cena3}}" class="img-thumbnail">
		  </div>
		</div>
		<div >
		  <p id="desc">{{filme.descricao}}</p>
		</div>
		   <iframe class="video" src="{{filme.trailer}}" width="520" height="415" frameborder="0" allowfullscreen></iframe>

		   <div class="card" id="man">	
		   <div class="card-header" id="KK"><h2>Recomendações</h2></div>
		   <div class="card-block">
		   <div *ngIf="filme.categoria === 'Ação e Aventura'">
		   <div id="help" *ngFor="let filme of filmes" >
		  <div *ngIf="filme.categoria === 'Ação e Aventura'" class="col-md-4" >
		  <img id="rec" src="{{filme.thumbnail}}" (click)="enableEditing(filme)" style="cursor:pointer" class="img-thumbnail" width="300px" height="300px" />
		  </div>
		  </div>
		  </div>
		   <div *ngIf="filme.categoria === 'Suspense'">
		   <div id="help" *ngFor="let filme of filmes" >
		  <div *ngIf="filme.categoria === 'Suspense'" class="col-md-4" >
		  <img id="rec" src="{{filme.thumbnail}}" (click)="enableEditing(filme)" style="cursor:pointer" class="img-thumbnail" width="300px" height="300px" />
		  </div>
		  </div>
		  </div>
		   <div *ngIf="filme.categoria === 'Comédia'">
		   <div id="help" *ngFor="let filme of filmes" >
		  <div *ngIf="filme.categoria === 'Comédia'" class="col-md-4" >
		  <img id="rec" src="{{filme.thumbnail}}" (click)="enableEditing(filme)" style="cursor:pointer" class="img-thumbnail" width="300px" height="300px" />
		  </div>
		  </div>
		  </div>
	    </div>
	    </div>
		   
	</div>





